*.announce
*.deps
*.jpg
*.la
*.lo
*.log
*.o
*.pc
*.sig
*.so
*.swp
.*.sw?
.sw?
*.sublime-project
*.sublime-workspace
*.tar.xz
*.trs
*~
ctags
cscope.out
.libs
.dirstamp
/aclocal.m4
/autom4te.cache
/compile
/build-aux/
/config.guess
/config.h
/config.h.in
/config.log
/config.mk
/config.status
/config.sub
/configure
/depcomp
/doc/doxygen/*.doxygen
/docs/developer
/docs/tools
/install-sh
/libtool
/ltmain.sh
/logs
/m4
/missing
/stamp-h1
/src/navi
Makefile
Makefile.in
TAGS
00*.patch

