<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="navigation" version="0.1">
  <name>Navigation</name>
  <icon src="navigation.png"/>
  <content src="navi" type="application/x-executable"/>
  <description>NAVIGATION App</description>
  <author>AISIN AW</author>
  <feature name="urn:AGL:required-permission">
    <param name="http://tizen.org/privilege/internal/dbus" value="required" />
  </feature>
  <license>GPL</license>
</widget>
